/*
http://www.w3.org/Style/Examples/007/center.en.html
https://css-tricks.com/centering-css-complete-guide/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://css-tricks.com/all-about-floats/

*/

/* *************************************************************************** */
/* ******************************** common *********************************** */
/* *************************************************************************** */

body {
	background-color: #121212;
	color: #fff;
	padding: 70px 10px 10px;
}
a:link {color: #afdcaf;}
a:visited {color: #90a0b0;}
a:active {color: khaki;}

body.picture {background-color: #222222; color: khaki;}

html {
  box-sizing: border-box;
}

#masthead {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 59px;
	background: #000;
	padding: 15px 10px 10px;
	border-bottom: 1px solid #333;
	z-index: 10;
}

/*** Search ***/
.search {
	float: right;
}

.search select[multiple] {
	height: 30px;
}

.search label {
	vertical-align: top;
}

.search__buttons {
	display: inline-block;
	vertical-align: top;
}

#slideTray {
	width:60%;
	height:500px;
	top: 84px;
	border:4px #555 solid;
	z-index:100000;
	overflow:hidden;
	left:20px;
	position:absolute;
}

#slideTray.hidden {
	visibility:hidden;
}

#slideTray.small {
	width:70%;
	height:500px;
}

#slideTray.min {
	width:20%;
	height:50px;
	position:absolute;
	top: auto;
	bottom:10px;
	left: auto;
	right:10px;
}

#slideTray.full {
	width:98%;
	height:1500px;
}

#slideTray > .titleBar {
	background-color: #222;
	height:30px;
	top:0;
	position:relative;
}

#slideTray > .container {

	background-color: rgba(0,0,0,0.8);
	top:0;
	height:100%;
	width:100%;
	overflow:hidden;
	position:relative;
}


#slideTray .titleBar .btn{
	position:relative;
	top:5px;
	float: right;
	margin-right: 20px;
    cursor: pointer;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.topMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline;
	position:relative;
}
.topMenu li { 
	display: inline-block;
}

.topMenu li a {
	text-decoration: none;
	padding: .2em 1em;
	color: linen;
	display: inline-block;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
}

#picture {
	float:left;
}


#galleries .expandable {
	display: flex;
	flex-direction: column; 
}

div.related {
    cursor: pointer;
}
#galleries .leftColumn,
#galleries .leftColumnRelated {
	width: 25%;
	display: flex;
	flex-direction: column; 
}

#galleries .leftColumnRelated {
	display:none;
}

#galleries .leftColumn .related,
#galleries .leftColumnRelated .relatedImage {
	width: 25%;
	display: flex;
	flex-direction: column;
	display:none;
}

#galleries .rightColumn {
	width: 25%;
	display: flex;
	flex-direction: column; 
}

#galleries .expandClose {
  font-size: 35px;
  line-height: 35px;
  align-self:flex-end;
  text-decoration: none;
  cursor: pointer;
}

.expandClose:hover {
  color: #fff;
}

#galleries .relatedPictures {
	display: flex;
	flex-direction: column; 
}
.largeImageMain {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  display:block;
}

.largeImageRelated {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  display:none;
}

.cell .showRelated .largeImageMain,
.cell .showRelated .leftColumn {
  display:none !important;
}

.cell .showRelated .largeImageRelated,
.cell .showRelated .leftColumnRelated {
  display:block !important;
}


.imageGrid {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

#galleries .imageGrid {
	border-bottom: 1px solid hsla(0,0%,100%,.1);
}

#galleries .imageGrid .title {
	position: relative;
	letter-spacing:.1em;
	display: block;
	text-align: center;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
}
#galleries .imageGrid .leftColumnRelated .restoreMainPicture {
  	text-align: center;
}

#galleries .imageGrid .leftColumn .title, 
#galleries .imageGrid .leftColumnRelated .title, 
#galleries .imageGrid .rightColumn .title {
	background-color: inherit;
}

#galleries .imageGrid .leftColumnRelated .title { 
    border-top: 2px solid linen;
}




#galleries .imageGrid .leftColumn .medium,
#galleries .imageGrid .leftColumnRelated .medium { 
	text-align: center;
}

#galleries .imageGrid .galleryDescription {
	position: relative;
	display: block;
	text-align: center;
}

#galleries .imageGrid .imageGrid{
	background-color: #191919;
}






.cell {
  float: left;
  position: relative;
}

.basicImg {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  cursor:pointer;
}

.cell.isCollapsed .image {
  cursor: pointer;
}

.cell.isCollapsed .arrowUp {
  display: block;
}

.cell.isExpanded > .expandable > .arrowUp {
  display: block;
  border-bottom: 8px solid #fff;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  width: 0;
  margin: 2px auto 0;
}

.subGalleryLinkContainer {
	position:relative;
	margin:0 auto;
}
.galleryTitle {
	color:linen;
	font-weight:bold; 
	letter-spacing:.1em;
	background: rgba(0, 0, 0, 0.5);
	text-align:center;
	margin:0 auto;
	position:absolute;
	top: 0;
	height: 100%;
}
.galleryTitle:before {
   content: "Gallery: ";
}


.expand {
  position: relative;
  padding: 0;
  box-sizing: content-box;
  overflow: hidden;
  max-height: 0;
  transition: max-height .3s ease-in-out,
              margin-bottom .1s .2s;
  display:flex;
  flex-direction:row;
  align-items:flex-start;
}



/* *************************************************************************** */
/* *************************************************************************** */
/* ****************************** iPhone 5 *********************************** */
/* *************************************************************************** */
/* *************************************************************************** */


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

	.topMenu li a {
		height:10px;
		width:100px;

	}  

.cell {
	width:29%;
	margin: 0 5px;
}

.basicImg {
  max-height: 70px;
}

#masthead > div { float: left; margin-bottom:10px; }
#masthead .title {font-size: 55px; color:darkseagreen; display:block; width:300px; }
#mastheadXXX .subTitle {font-size: 35px; color:darkseagreen; margin-left:50px;}

.topMenu {
	display:block;
}

.topMenu li a {
	height:23px;
	width:70px;
	padding:3px 3px 3px 3px;
	font-size:14px;
}

.topMenu li a:hover {
	color: #fff;
	background-color:  darkseagreen;
}

#picture {
	width:576px;
	height:800px;
}

#galleries .expandable {
	height: 80px;
	margin-bottom: 5px;
}

#galleries .relatedPictures > .title {
	margin: 10px;
}

div.related {
	margin: 10px;
}

#galleries .leftColumn,
#galleries .leftColumnRelated {
	padding: 10px;
}

#galleries .leftColumn .related,
#galleries .leftColumnRelated .relatedImage {
	padding: 10px;
}

#galleries .expandClose {
  font-size: 35px;
  line-height: 35px;
  width:30px;
}

.largeImageMain {
  padding: 10px;
}

.largeImageRelated {
  padding: 10px;
}

.imageGrid {
	padding: 20px 5px 0;
}

#galleries .imageGrid {
	max-width: 300px;
	background-color: #224433;
	margin-bottom: 10px;
}

#galleries .imageGrid > .title {
	top: -20px;
}

#galleries .imageGrid .title {
	font-size: 25px; 
	letter-spacing:.1em;
	padding:2px;
}
#galleries .imageGrid .leftColumnRelated .restoreMainPicture {
	font-size: 15px;
	margin: 5px 55px 25px;
}



#galleries .imageGrid .leftColumn .title, 
#galleries .imageGrid .leftColumnRelated .title, 
#galleries .imageGrid .rightColumn .title {
	font-size: 12px;
}

#galleries .imageGrid .leftColumnRelated .title { 
    padding-top: 5px;
}

#galleries .imageGrid .leftColumnRelated .subTitle { 
    padding-top: 5px;
}

#galleries .imageGrid .rightColumn .related .title {
	font-size: 10px;
}

#galleries .imageGrid .leftColumn .medium,
#galleries .imageGrid .leftColumnRelated .medium { 
	font-size: 10px;
	margin: 5px 0;
}

#galleries .imageGrid .leftColumn .description, 
#galleries .imageGrid .leftColumnRelated .description { 
	font-size: 10px;
	margin: 5px 0;
}

#galleries .imageGrid .galleryDescription {
	top: -20px;
	font-size: 15px; 
	padding:5px;
}

#galleries .imageGrid .imageGrid{
	max-width: 1280px;
}


#galleries .imageGrid .imageGrid .imageGrid{
	max-width: 1250px;
}



.gallery,
.image {
  padding: 0 5px;
  margin: 5px 0;
  height:160px;
}



.cell.isCollapsed .arrowUp {
  height: 10px;
}


.galleryTitle {
	font-size: 18px; 
	width:144px;
	height: 112px;
	padding:5px;
}

.cell.isExpanded > .expand {
  max-height: 270px;
  margin-bottom: 10px;
}

.expand {
  left: -90px;
}
.imageGrid .expand {
	width: 275px;
}
.imageGrid .imageGrid .expand {
	width: 1170px;
}
.imageGrid .imageGrid .imageGrid .expand {
	width: 1140px;
}

.cell:nth-of-type(3n+1) .expand { margin-left: 9%; }
.cell:nth-of-type(3n+2) .expand { margin-left: -91%; } 
.cell:nth-of-type(3n+3) { clear: left; } 

.expand .cell:nth-of-type(3n+1) .expand { margin-left: 6%; } 
.expand .cell:nth-of-type(3n+2) .expand { margin-left: -94%; } 
.expand .cell:nth-of-type(3n+3) { clear: left; } 

.expand .expand .cell:nth-of-type(3n+1) .expand { margin-left: 6%; } 
.expand .expand .cell:nth-of-type(3n+2) .expand { margin-left: -94%; } 
.expand .expand .cell:nth-of-type(3n+3) { clear: left; } 



}


/* *************************************************************************** */
/* *************************************************************************** */
/* ********************************** Desktop ******************************** */
/* *************************************************************************** */
/* *************************************************************************** */

@media (min-width: 568px) {

.cell {
	width:20%;
}


#masthead > div { float: left; margin-bottom:10px; }
#masthead .title {
	font-size: 20px;
	display:inline-block;
	width:300px;
	font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
	vertical-align: top;
}

.topMenu {
	top:-14px;
}

.topMenu li a {
	height:30px;
	width:200px;
	padding:5px 8px 3px;	
}

.topMenu li a:hover {
	color: #fff;
	background-color:  darkseagreen;
}

#picture {
	width:576px;
	height:800px;
}

#galleries .expandable {
	height:171px;
}



#galleries .relatedPictures > .title {
	margin: 10px;
}

div.related {
	margin: 10px;
}

#galleries .leftColumn,
#galleries .leftColumnRelated {
	padding: 10px;
}

#galleries .leftColumn .related,
#galleries .leftColumnRelated .relatedImage {
	padding: 10px;
}

#galleries .expandClose {
  font-size: 35px;
  line-height: 35px;
  width:30px;
}

.largeImageMain {
  padding: 10px;
}

.largeImageRelated {
  padding: 10px;
}

.imageGridX {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 5px 0;
}

#galleries .imageGridX {
	max-width: 1310px;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
}

.imageGrid {
	padding: 20px 5px 0;
}

#galleries .imageGrid {
	max-width: 1310px;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
}

#galleries .imageGrid > .title {
	top: -20px;
}

#galleries .imageGrid .title {
	font-size: 25px; 
	letter-spacing:.1em;
	padding:2px;
}
#galleries .imageGrid .leftColumnRelated .restoreMainPicture {
	font-size: 15px;
	margin: 5px 55px 25px;
}


#galleries .imageGrid .rightColumn .buttons {
	display:flex;
	flex-direction: row;
	justify-content:space-between;
}

#galleries .imageGrid .rightColumn .buttons img {
	height:25px;
	margin-top:10px;
}

#galleries .imageGrid .leftColumn .title, 
#galleries .imageGrid .leftColumnRelated .title, 
#galleries .imageGrid .rightColumn .title {
	font-size: 20px;
}

#galleries .imageGrid .leftColumnRelated .title { 
    padding-top: 15px;
}

#galleries .imageGrid .leftColumnRelated .subTitle { 
    padding-top: 5px;
}

#galleries .imageGrid .rightColumn .related .title {
	font-size: 15px;
}

#galleries .imageGrid .leftColumn .medium,
#galleries .imageGrid .leftColumnRelated .medium { 
	font-size: 20px;
	margin: 20px 10px;
}

#galleries .imageGrid .leftColumn .description, 
#galleries .imageGrid .leftColumnRelated .description { 
	font-size: 15px;
	margin: 20px 10px;
}

#galleries .imageGrid .galleryDescription {
	top: -20px;
	font-size: 15px; 
	padding:5px;
}

#galleries .imageGrid .galleryDescription .multiLine {
	width:800px;
	text-align:justify;
	margin: 0 auto;
}

#galleries .imageGrid .galleryDescription .multiLine .blockQuote {
	margin: -10px 30px;
	color: #aaa;
}

.quote, .blockQuote, i{
	font-style:italic;
	font-family: georgia;
}

#galleries .imageGrid .imageGrid{
	max-width: 1280px;
}


#galleries .imageGrid .imageGrid .imageGrid{
	max-width: 1250px;
}



.gallery,
.image {
  padding: 0 5px;
  margin: 5px 0;
  height:160px;
}



.cell.isCollapsed .arrowUp {
  height: 10px;
}


.galleryTitle {
	font-size: 18px; 
	height: 112px;
	padding:5px;
}

.cell.isExpanded > .expand {
  max-height: 1500px;
  margin-bottom: 10px;
}

.expand {
  left: -5px;
}
.imageGrid .expand {
	width: 1200px;
}
.imageGrid .imageGrid .expand {
	width: 1170px;
}
.imageGrid .imageGrid .imageGrid .expand {
	width: 1140px;
}


.cell:nth-of-type(5n+1) .expand { margin-left: 9%; }
.cell:nth-of-type(5n+2) .expand { margin-left: -91%; } 
.cell:nth-of-type(5n+3) .expand { margin-left: -191%; } 
.cell:nth-of-type(5n+4) .expand { margin-left: -291%; } 
.cell:nth-of-type(5n+5) .expand { margin-left: -391%; } 
.cell:nth-of-type(5n+6) { clear: left; } 

.expand .cell:nth-of-type(5n+1) .expand { margin-left: 6%; } 
.expand .cell:nth-of-type(5n+2) .expand { margin-left: -94%; } 
.expand .cell:nth-of-type(5n+3) .expand { margin-left: -194%; } 
.expand .cell:nth-of-type(5n+4) .expand { margin-left: -294%; } 
.expand .cell:nth-of-type(5n+5) .expand { margin-left: -394%; } 
.expand .cell:nth-of-type(5n+6) { clear: left; } 

.expand .expand .cell:nth-of-type(5n+1) .expand { margin-left: 6%; } 
.expand .expand .cell:nth-of-type(5n+2) .expand { margin-left: -94%; } 
.expand .expand .cell:nth-of-type(5n+3) .expand { margin-left: -194%; } 
.expand .expand .cell:nth-of-type(5n+4) .expand { margin-left: -294%; } 
.expand .expand .cell:nth-of-type(5n+5) .expand { margin-left: -394%; } 
.expand .expand .cell:nth-of-type(5n+6) { clear: left; } 





}
